@font-face {
  font-family: roboto-bold;
  src: url(../font/roboto-bold.ttf);
}

@font-face {
  font-family: crete-regular;
  src: url(../font/crete-regular.ttf);
}

@font-face {
  font-family: poppins-regular;
  src: url(../font/poppins-regular.ttf);
}

@font-face {
  font-family: inter-regular;
  src: url(../font/inter-regular.ttf);
}

@font-face {
  font-family: inter-medium;
  src: url(../font/inter-medium.ttf);
}

@font-face {
  font-family: inter-bold;
  src: url(../font/inter-bold.ttf);
}

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  font-size: 16px;
  margin: 0;
}

header {
  background-color: #3c3a39;
}

h1,
h2,
h3,
ul,
p,
hr {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.button {
  color: #fff;
  padding: 12px;
  background-color: #f55800;
  border: 1px solid #f55800;
}

.button:hover {
  color: #f55800;
  background-color: #fff5e1;
}

.button:visited {
  color: #f4f1f0;
  background-color: #e05304;
}

.button:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
}

.rhombus {
  transform: rotateZ(45deg);
}

.circle {
  border-radius: 50%;
}

.wrapper {
  padding: 0 24px;
}

.menu {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-logo {
  color: #fff;
  font: 1.125rem/1.5rem roboto-bold, serif;
}

.menu-button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  display: flex;
  gap: 12px;
  flex-direction: column;
  padding: 120px 24px;
  background: #1c1a19 url(../img/hero.png) calc(100% + 120px) calc(100% - 5px)/200px 300px no-repeat;
}

.hero-title {
  color: #ff6b00;
  font: 3.5rem/4rem crete-regular, serif;
  letter-spacing: 0.37px;
}

.hero-subtitle {
  color: #fff5e1;
  font: 1.5rem/2rem roboto-bold, serif;
}

.hero-text {
  color: #fff;
  font: 1rem/1.5rem poppins-regular, serif;
}

.hero-social {
  display: flex;
  align-items: center;
}

.hero-social a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.works-title {
  padding: 120px 0 80px;
}

.works-title h1 {
  color: #1c1a19;
  font: 2.5rem/3.25rem crete-regular, serif;
}

.works-title hr {
  border: 1px solid #212121;
  margin-top: 24px;
}

.works-grid {
  display: grid;
  row-gap: 24px;
  grid-template-columns: 100%;
  margin-bottom: 120px;
}

.works-grid-item {
  position: relative;
}

.works-grid-item-flex {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #091e42;
}

.works-grid-item-flex h2 {
  font: 2rem/2.75rem crete-regular;
  margin-top: 12px;
}

.works-grid-item-flex p {
  font: 1rem/1.5rem inter-regular;
}

.works-grid-item-flex ul {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.works-grid-item-flex li a {
  display: block;
  color: inherit;
  padding: 10px 12px;
  font: 0.9375rem/1.25rem inter-medium;
  border: 1px solid #8993a4;
}

.works-grid-item-flex .button {
  align-self: flex-start;
  font: 1.0625rem/1.5rem inter-bold;
}

.works-grid-card .works-grid-item-flex {
  position: absolute;
  top: 0;
  bottom: 0;
  inset-inline: 0;
  color: #fff;
  justify-content: flex-end;
  background: linear-gradient(180deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%);
}

.works-grid-card h2,
.works-grid-card p,
.works-grid-card ul {
  padding: 0 13px;
}

.works-grid-card li a {
  background: rgba(255, 255, 255, 0.24);
  border: 0;
}

.works-grid-card .button {
  align-self: stretch;
  text-align: center;
  margin-top: 10px;
}

.about {
  background-color: #1c1a19;
}

.about-top {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 0 209px;
  background: transparent url(../img/about.png) calc(100% + 250px) calc(100% - 5px)/400px 250px no-repeat;
}

.about-top h1 {
  color: #ff6b00;
  font: 4.5rem/5.5rem crete-regular;
  letter-spacing: 0.37px;
}

.about-top p {
  color: #f4f5f7;
  font: 1rem/1.5rem inter-regular;
  letter-spacing: 0.37px;
}

.about-top .button {
  align-self: flex-start;
  font: 1.0625rem/1.5rem inter-bold;
}

.about hr {
  border: 1px solid #fff;
}

.about-list {
  display: flex;
  gap: 24px;
  color: #fff;
  text-align: center;
  flex-direction: column;
  padding: 128px 0 75px;
}

.about-list i {
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 18px;
  background-color: #ff6b00;
  margin-inline-end: 12px;
  margin-top: 12px;
}

.about-list span {
  font: 2rem/2.75rem inter-bold;
}

.about-list ul {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.about-list ul a {
  color: inherit;
  font: 1.375rem/2.6875rem inter-regular;
}
