@font-face {
  font-family: roboto-regular;
  src: url(../font/roboto-regular.ttf);
}

@font-face {
  font-family: crete-regular;
  src: url(../font/crete-regular.ttf);
}

@font-face {
  font-family: poppins-light;
  src: url(../font/poppins-light.ttf);
}

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  font-size: 16px;
  margin: 0;
}

header {
  background-color: #3c3a39;
}

h1, h2, h3, ul, p {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  color: #fff;
  background-color: #f55800;
  border: 1px solid #f55800;
}

button:hover {
  color: #f55800;
  background-color: #fff5e1;
}

button:focus {
  color: #f4f1f0;
  background-color: #e05304;
}

button:disabled {
  color: #5b5957;
  background-color: #f4f1f0;
}

.wrapper {
  padding: 0 24px;
}

.link-icon-square {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-logo {
  color: #fff;
  font: 1.125rem/1.5rem roboto-regular, serif;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px 24px;
  background: #1c1a19 url(../img/hero.png) calc(100% + 121px) calc(100% - 5px)/212px 305px no-repeat;
}

.hero-title {
  color: #ff6b00;
  font: 3.5rem/4rem crete-regular, serif;
  letter-spacing: 0.37px;
}

.hero-subtitle {
  color: #fff5e1;
  font: 1.5rem/2rem roboto-regular, serif;
  margin: 6px 0 10px;
}

.hero-text {
  color: #fff;
  font: 1rem/1.5rem poppins-light, serif;
  letter-spacing: 0.1px;
}

.hero-social {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 14px;
}
